@import "../../colors.scss";

header {
    width: 100%;
    height: 70px;
    background-color: $background;
    display: flex;
    padding: 5px;
    border-bottom: 2px solid $border;
}

.logo {
    height: 100%;
    width: 15%;
}

.shop-name {
    color: black;
    font-size: 25px;
    margin: auto 10px;
}